* {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 750px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    max-width: 1400px;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}